body {

  margin: 0 auto;

  header{
    background-color: #2DA8C9;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
   img{
     height: 120px;
     width: 160px;
     margin-left: 150px;
   }
  }
  section{
    text-align: center;
    font-family: Arial;
    color: #2DA8C9;
    .p1 {
      font-size: 40px;
      font-weight: Bold;
      margin-bottom: 20px;
    }
    .p2 {

      font-size: 20px;
    }
  }
  form{
      h1 {
        color: #2DA8C9 !important;
        font-size: 40px !important;
        font-weight: Bold !important;
        margin-bottom: 20px !important;
      }
  }
  footer{
    margin-top: 200px;
    background-color: #BFBFBF;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* page 2 payment form starts here */

#progress2 {
  text-align: center;
  margin-top: 15px;
  font-family: Arial;
  color: #2da8c9;
}
h3 #donate {
  text-align: left;
  text-indent: 15px;
}
.paymentMethod {
  background: #ebebeb;
  width: 460px;
  height: 460px;
  border: none;
  border-radius: 6px;
  margin: 0;
  padding: 5px;
  display: inline-block;
}
#payOption {
  width: 380px;
  height: 60px;
  border: none;
  margin: 0 0 -15px 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: inline-block;
}
#payOption li .payPal{
  background: #2da8c9;
  border-radius: 8px 8px 0 0;
  color: #fff;
  z-index: 5;
}
#payOption li .creditCard {
  background: #fff;
  width: 190px;
  border-radius: 8px 8px 0 0;
  margin: 0 0 0 -10px;
  line-height: 60px;
  z-index: 1;
}
#formData {
  width: 345px;
  height: 300px;
  background: #fff;
  border: none;
  border-radius: 0 0 6px 6px;
  margin: 0;
  padding: 15px;
  list-style: none;
  text-align: left;
  text-indent: 20px;
  font-size: 12px;
  display: inline-block;
}
#formData li .input{

}
#visaMastercardlogo {
  float: right;
  padding: 0 10px 50px 0;
  display: inline-block;
  clear: both;
}
input {
  background: #ebebeb;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 6px;
  margin: 1px 12px 8px 12px;
  padding: 1px 8px;
}
.inputExtend {
  width: 300px;
}
input[type=text]:focus {
  background: #2da8c9;
  font-size: 18px;
  color: #fff;
}
.buttonOption {
  background: #fff;
  width: 190px;
  height: 45px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #2da8c9;
  display: inline-block;
  cursor: pointer;
  outline: none;
}
.button2 {
  background-color: #2da8c9;
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin: 20px 45px;
  padding: 5px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

/* payment form ends here */